body {
	font-size: 18px;	
	font-family: '-apple-system', 'BlinkMacSystemFont', 'Roboto', 'Helvetica', 'Sans-serif';
}

h1, h2, h3 {
	font-family:'Helvetica', 'Arial', 'Sans-Serif'
}

h1 {
	font-size: 1.953em;
	line-height: 1.2;
} 

h2 {
	font-size: 1.563em;	
	
} 

h3 {
	font-size: 1.25em;	
} 

body {
    margin: 30px auto;
    width: 90%;
    max-width:1000px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

p {
/** font-size: 1.5em;
    line-height: 1.4em; **/
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul, ol {
/**	font-size: 1.5em; **/
}

ul.posts { 
    margin: 20px auto 40px; 
/**    font-size: 1.5em; **/
}

ul.posts li {
    list-style: none;
}

img {
	width: 100%;
}

@media (min-width: 800px) {
	body {
		font-size: 20px;
	}
}	

@media (min-width: 1200px) {
	body {
		font-size: 24px;
	}
	
	h1 {
		font-size: 1.1953em;
		line-height: 1.2;	
	}
	
	h2 {
		font-size: 1.1563em;
	}
	
	h3 {
		font-size: 1.25em;
	}
}
