<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- link to main stylesheet user-scalable=0, maximum-scale=1 -->
			<link rel="stylesheet" type="text/css" href="/css/main.scss">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!--<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>-->
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>By Mikael Svensson</li>
	        		<li><a href="https://mikeysvensson.github.io/blog/atom.xml">RSS</a></li>
				</ul>
			</footer>
		</body>
	</html>
